.range-slider {
  position: relative;
  $self: &;
  max-width: 400px;
  margin-bottom: 50px;
  user-select: none;
  min-height: 50px;
  &_vertical {
    max-width: 50px;
    display: flex;
    #{$self}__track {
      width: 8px;
      height: 266px;
      max-width: 50px;
    }

    #{$self}__inner {
      min-width: 8px;
      left: -1px;
      background: $vertical-bg-color;
    }
    #{$self}__thumb {
      left: -4px;
      top: 0%;
    }
    #{$self}__hidden-track {
      position: relative;
      left: -8px;
    }
    #{$self}__flag {
      left: 20px;
    }
    #{$self}__scale {
      position: relative;
      opacity: 0.5;
      z-index: 10;
      top: 0;
      width: 20px;
      min-height: 100px;
      overflow: visible;
    }

    #{$self}__big-line {
      width: 20px;
      height: 2px;
      background-color: $primary-color;
      position: absolute;
    }
    #{$self}__small-line {
      width: 10px;
      height: 2px;
      background-color: $primary-color;
      position: absolute;
    }
    #{$self}__text {
      position: relative;
      top: -600%;
      left: 150%;
      width: auto;
    }

    #{$self}__hidden-track {
      top: 0;
      left: -8px;
      bottom: 100%;
    }
  }
  &__track {
    top: -8px;
    z-index: 5;
    height: 8px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid $text-color-brightness-25;
    user-select: none;
    cursor: pointer;
    &_single {
      #{$self}__inner {
        outline: none;
      }
      #{$self}__span-to {
        display: none;
      }
    }
  }

  &__inner {
    cursor: pointer;
    height: 8px;
    background: $horizontal-bg-color;
    border-radius: 20px;
    position: absolute;
    top: 0;
    max-width: 100%;
    box-shadow: 0 0 3px 1px $primary-color;
  }
  &__hidden-track {
    position: relative;
    top: -8px;
  }
  &__thumb {
    position: absolute;
    z-index: 11;
    display: block;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 3px 2px $primary-color;
    background: $primary-color;
    border-radius: 50%;
    border: 2px solid grey;
    cursor: pointer;
    top: -4px;
  }

  &__span-to {
    right: -2px;
    top: calc(50% - 7px);
  }
  &__flag {
    display: inline-flex;
    justify-content: center;
    min-height: 20px;
    align-items: center;
    line-height: 100%;
    position: absolute;
    border: 1px solid grey;
    top: -25px;
    background: $primary-color;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    padding: 0 10px;
    box-shadow: 0 0 3px 2px $primary-color;
  }
  &__scale {
    position: relative;
    opacity: 0.5;
    z-index: 10;
    top: 150%;
    width: 100%;
    height: 20px;
    max-width: 100%;
    cursor: pointer;
  }
  &__big-line {
    width: 2px;
    height: 20px;
    background-color: $primary-color;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__small-line {
    width: 2px;
    height: 10px;
    background-color: $primary-color;
    position: absolute;
  }
  &__text {
    position: relative;
    top: 110%;
    min-height: 25px;
    background-color: #fff;
    font-size: 14px;
    @media (max-width: $phone-width) {
      font-size: 10px;
    }
  }
}
