footer.footer
	.container
		.footer__content
			.footer__list-content
				.footer__item
					.footer__logo LOGOtype
					.footer__span официальный представитель в России
					a(href="#").footer__link Скачать каталог 
						span.footer__year 2020
					a(href="#").footer__link Связаться с нами
				.footer__item
					ul.footer__list Компания
						li.footer__li
							a.footer__link.footer__link_grey(href="#") О компании
						li.footer__li
							a.footer__link.footer__link_grey(href="#") Акции
						li.footer__li
							a.footer__link.footer__link_grey(href="#") Новости
						li.footer__li
							a.footer__link.footer__link_grey(href="#") блог
						li.footer__li
							a.footer__link.footer__link_grey(href="#") эксперты	
						li.footer__li
							a.footer__link.footer__link_grey(href="#") контакты
				.footer__item
					ul.footer__list покупателям
						li.footer__li
							a.footer__link.footer__link_grey(href="#") каталог
						li.footer__li
							a.footer__link.footer__link_grey(href="#") оплата
						li.footer__li
							a.footer__link.footer__link_grey(href="#") доставка
						li.footer__li
							a.footer__link.footer__link_grey(href="#") возврат
						li.footer__li
							a.footer__link.footer__link_grey(href="#") помощь	
				.footer__item
					ul.footer__list оптовикам
						li.footer__li
							a.footer__link.footer__link_grey(href="tel:+78000000000") 8 (800) 000-00-00
						li.footer__li
							a.footer__link.footer__link_grey(href="tel:+78000000000") 8 (800) 000-00-00
						li.footer__li
							a.footer__link.footer__link_grey(href="tel:+78000000000") 8 (800) 000-00-00
						li.footer__li
							a.footer__link(href="#") info@mail.ru	
				.footer__item
					ul.footer__list оптовикам
						li.footer__li
							span.footer__link.footer__link_grey(href="#") г.Москва,ул. Иванова
						li.footer__li
							span.footer__link.footer__link_grey(href="#") дю5,пом.8,оф.11
						li.footer__li
							a.footer__link.footer__link_grey(href="tel:+78000000000") 8 (800) 000-00-00
						li.footer__li
							a.footer__link.footer__link_grey(href="tel:+78000000000") 8 (800) 000-00-00
						li.footer__li
							a.footer__link(href="#") info@yandex.ru
			.footer__last-content
				.footer__copyright
					span ©2020-2019 Ltd. Все права защищены.
				.footer__social
					a(href="#").footer__social-link
						svg.footer__icon
							use(xlink:href="#vk")
					a(href="#").footer__social-link
						svg.footer__icon
							use(xlink:href="#facebook")
					a(href="#").footer__social-link
						svg.footer__icon
							use(xlink:href="#inst")

