

header.header
		.header__head-wrap
			.container
				.header__head
					ul.header__nav
						li.header__nav-li 
							a(href="#").header__nav-a Доставка
						li.header__nav-li 
							a(href="#").header__nav-a Оплата
						li.header__nav-li 
							a(href="#").header__nav-a Возврат
						li.header__nav-li 
							a(href="#").header__nav-a Оптовым покупателям
					.header__tel
						span.header__tel-span бесплатно по России
						a(href="tel:+78000000000").header__phone 8-800-000-00-00
		.container
			.header__middle
				h1.header__logo LOGOtype
				div.header__search-wrap
					input.header__search(type="text" placeholder="Что Вы ищете?")
				.client-actions
					.client-actions__cabinet
						a(href="#")
							svg.client-actions__icon
								use(xlink:href="#refer")
					.clieant-actions__favorites
						a(href="#")
							svg.client-actions__icon
								use(xlink:href="#heart")
							sup 3
					.clieant-actions__cart
						a(href="#")
							svg.client-actions__icon
								use(xlink:href="#cart")
							sup 2
		.grey-bg
			.container
				.header__navbar
					span.dropdown-list 
						span.dropdown-list__gamburger
						span.dropdown-list__span Каталог товаров
						span.dropdown-list__arrow
					ul.header__navbar-list
						li.header__navbar-item 
							a(href="#").header__navbar-link о компании
						li.header__navbar-item
							a(href="#").header__navbar-link акции
						li.header__navbar-item
							a(href="#").header__navbar-link новости
						li.header__navbar-item 
							a(href="#").header__navbar-link блог
						li.header__navbar-item
							a(href="#").header__navbar-link эксперты 
						li.header__navbar-item
							a(href="#").header__navbar-link контакты