mixin rate()
	.rate
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="1")
			div
				svg.rate__star
					use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="2")
			div
				svg.rate__star
					use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="3")
			div
				svg.rate__star
					use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="4")
			div
				svg.rate__star
					use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="5")
			div 
				svg.rate__star
					use(xlink:href="#star")