section.section-slider.section-sales-whales
	.swiper-container
		h2.section-title Хиты продаж
		a.link-all-catalog(href="#") Весь Каталог
		.swiper-button-prev
		.swiper-button-next
		.swiper-wrapper
			.swiper-slide
				.items-slide
					+item-first("item-first_hit","Бестселлер","катушка Adrenalin 7300 BC"," ","4 800р.","assets/img/bobbin-2.png")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont item_hit","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")
			.swiper-slide
				.items-slide
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont item_hit","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")
			.swiper-slide
				.items-slide
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont item_hit","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")

				
