section.section-main
					ul.dropdown-catalog
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Катушки
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Удилища
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Приманки
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Воблеры
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Лески и шнуры
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Поплавки
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Крючки
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Аксессуары
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Одежда
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Снаряжение
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Электроника
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Зимняя рыбалка
						li.dropdown-catalog__item
							a(href="#").dropdown-catalog__link Другое
					.main-slider 
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									+card-slider("","Специальные предложения", "катушка Adrenalin 7300 BC", "5 600 р.", "купить")
								.swiper-slide
									+card-slider("","Специальные предложения", "катушка Adrenalin 7300 BC", "5 600 р.", "купить")
								.swiper-slide
									+card-slider("","Специальные предложения", "катушка Adrenalin 7300 BC", "5 600 р.", "купить")
							.swiper-pagination
						.cards
							.card-wrap
								+card("","Новые приманки", "для подледной ловли","assets/img/rawbite.png","card__img_fish")
							.card-wrap
								+card("","Скачайте катлог", "для оптовиков","assets/img/book.png","card__img_book")
							.card-wrap
								+card("","Эксперты отвечают", "на ваши вопросы","assets/img/fisher.png","card__img_fisher")