section.section-discont
	.container
		.items-slide.items-slide_discont
			+item-first("item-first_discont","Скидка","до 15 декабря","-30%","4 800р.","assets/img/bobbin-4.png", "", "на все лески")
			+item-first("item-first_discont","Скидка","до 31 января","-30%","4 800р.","assets/img/bobbin-5.png","", "на все лески")