section.section-slider.section-novelty
	.swiper-container
		h2.section-title Новинки
		a.link-all-catalog(href="#") Весь Каталог
		.swiper-button-prev
		.swiper-button-next
		.swiper-wrapper
			.swiper-slide
				.items-slide
					+item-first("item-first_novelty","Новинка","удилище Adrenalin 7300 BC","-30%","4 800р.","assets/img/fishing-rod.png")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")
			.swiper-slide
				.items-slide
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")
			.swiper-slide
				.items-slide
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/mk_detail_rollenhalter.png","13 490 р.")
					+item("item_discont","Удилище Matze Koch Rollen", "assets/img/shad_jigging.png", "3 240 р.", "6200 р.", "Ваша выгода 3200 р.")
					+item("","Удилище Matze Koch Rollen", "assets/img/bobbin-3.png")
		

				
