extends ../main

block content
	section
		.container
			.range-slider-container
				.js-range-slider-1
					
			.range-slider-container
				.js-range-slider-2

			.range-slider-container
				.js-range-slider-3

			.range-slider-container
				.js-range-slider-4



block script
	script(type='text/javascript').
		