.panel {
  padding: rem(20);
  background-color: $darkGreen;
  margin-bottom: rem(50);
  display: flex;
  flex-wrap: wrap;

  &__label {
    margin-right: 1rem;
  }

  &__input {
    border: 1px solid #000;
  }
  &__input-title {
    display: block;
  }
}
