.range-slider {
  position: relative;
  height: 8px;
  width: 100%;
  max-width: 400px;
  border-radius: rem(20);
  border: 1px solid $ds25;
  user-select: none;
  cursor: pointer;
  &_single {
    .range-slider__inner {
      width: 50%;
      outline: none;
    }
    .range-slider__span-to {
      display: none;
    }
  }
  &_vertical {
    width: 8px;
    height: 266px;

    .range-slider__inner {
      width: 8px;
      left: -1px;
      background: $greenGrVertical;
    }
    .range-slider__thumb {
      left: calc(50% - 7.5px);
      top: 0;
    }
    .range-slider__flag {
      left: 20px;
    }
    .range-slider__scale {
      position: relative;
      opacity: 0.5;
      z-index: 10;
      top: 0;
      left: 150%;
      width: 20px;
      height: calc(99%);
      overflow: visible;
    }
    .range-slider__big-line {
      width: 20px;
      height: 2px;
      background-color: $darkGreen;
      position: absolute;
    }
    .range-slider__small-line {
      width: 10px;
      height: 2px;
      background-color: $darkGreen;
      position: absolute;
    }
    .range-slider__text {
      position: relative;
      top: -600%;
      left: 150%;
      width: auto;
    }
  }

  &__inner {
    height: 8px;
    background: $greenGrGorizont;
    border-radius: rem(20);
    position: absolute;
    top: -1px;
    box-shadow: 0 0 3px 1px $darkGreen;
  }
  &__thumb {
    position: absolute;
    z-index: 11;
    display: block;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 3px 2px $darkGreen;
    background: $darkGreen;
    border-radius: 50%;
    border: 2px solid grey;
    cursor: pointer;
    top: calc(50% - 8px);
  }

  &__span-to {
    right: -2px;
    top: calc(50% - 7px);
  }
  &__flag {
    display: inline-flex;
    justify-content: center;
    min-width: 35px;
    min-height: 20px;
    align-items: center;
    line-height: 100%;
    position: absolute;
    border: 1px solid grey;
    top: -30px;
    background: $darkGreen;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    color: $white;
    padding: 0 10px;
    box-shadow: 0 0 3px 2px $darkGreen;
    // font-family: "MontserratBold";
  }
  &__scale {
    position: relative;
    opacity: 0.5;
    z-index: 10;
    top: calc(150%);
    width: calc(99%);
    height: 20px;
    // overflow-x: hidden;
  }
  &__big-line {
    width: 2px;
    height: 20px;
    background-color: $darkGreen;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__small-line {
    width: 2px;
    height: 10px;
    background-color: $darkGreen;
    position: absolute;
  }
  &__text {
    position: relative;
    top: 110%;
    min-height: 25px;
    background-color: #fff;
    // border: 1px solid $darkGreen;
  }
}
